
html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

body  {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: #fff;
    z-index: 1;
}

.container-nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-section {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;

}

.hero{
    margin: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
}

.hero h2{
    margin: 1rem 0rem;
    font-weight: 500;
    font-size: 2rem;

}


.hero p{
    margin: 1rem 0rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 60%;
}

.hero span{
    background-color: #f37878;
    background-image: linear-gradient(130deg, #ffb4d4, #7bb9ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 600;

}

.hero-icons {
    margin: 2rem 0rem;

}

.hero i{
    transition: 300ms;
}

.hero i:hover {
    color: gray;
    transform: scale(1.1);
}

 #blur1{
    overflow: hidden;
    position: absolute;
    height: 50%;
    width: 80%;
    left: -30rem;
    top: 25rem;
    transform: rotate(-10deg);
    z-index: -1;
    -webkit-animation: rotate-scale-down 40s ease-in-out infinite both;
    animation: rotate-scale-down 40s ease-in-out infinite both;
}

@-webkit-keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  


.techskills {
    position: relative;
    margin-top:5rem;
    margin-bottom:5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100vw;
    background-color: rgb(236 236 236);
    display: flex;
    justify-content: space-around;
    z-index: -1;

}


.techskills img {
    height: 4vw;
    width: 8vw;
    object-fit: scale-down;
    opacity: 40%;
}


.brand-title {
    padding: 1rem;
    padding-left: 0;
}

.brand-title a {
    text-decoration: none;
    font-size: 3rem;
    color: #000;
    font-family: 'Damion', cursive;
        
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}



.navbar-links li a {
	color: #18272F;
  position: relative;
  text-decoration: none;
  padding-bottom: 0.1rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  transition: 400ms;
}

.navbar-links li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar-links li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.toggle-button {
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
    transition-duration: 400ms;
}

.toggle-button .bar {
    width: 100%;
    height: 1px;
    background-color: black;
    border-radius: 5px;
}


.projects {
    display: flex;
    margin: 1rem;
    width: 80%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.projects h2 {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 0rem;
}

.projects p{
    margin-top: 1rem;
    margin-bottom: 10rem;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.project {
    margin-bottom: 7rem;
    display: flex;
    width: 60vw;
}


.project button {
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    transition: 400ms;
    background-color: rgba(0, 0, 0, 0.1);
}

.project button:hover {
    background-color: rgba(0, 0, 0, 0.05);

}


.project a{
    text-decoration: none;
    color: black;
}



.project img {
    object-fit: cover;
    height: 18rem;
    width: 60%;
}

.project h3{
    margin: 0rem 0rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.project-info{
    width: 70%;
    margin: 0rem 0rem;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.project-info p{
    text-align: start;
    margin-bottom: 2rem;
}

.about {
    display: flex;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.075);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about h3{
   margin-top: 4rem;
    font-size: 2.5rem;
    font-weight: 600;
}



.container-about{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.about-info{
    display: flex;
    align-items: center;
}




.about-info p{
    width:60%;
    margin-right: 10em;
    margin-left: 5rem;
}

#imgOne{
    animation: fadeBackground 3s;
    animation-fill-mode: forwards;
}

#imgTwo{
   display: none;
}

.about-info img{
    transition: 400ms;
    
    aspect-ratio: 3/4;
    opacity: 100%;
    width: 20%;
}

.contact h3 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.contact h4 {
    font-weight: 500;
}

.contact-links a {
    transition: 400ms;
    color: #000;
}

.contact-links a:hover {
    color: gray;
}


.contact-data {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


.contact-data p{
    width: 25vw;
}

.contact-data form{
    display: flex;
    flex-direction: column;
    width: 25vw;
}

form #submit {
    transition: 100ms;
    width: 40%;
}

form #submit:hover {
    background-color: rgba(34, 34, 34, 0.15);
}

form input, textarea{
    margin-bottom: 2vh;
    padding: 0.5rem;
    border-style: none;
    border-bottom: solid #00000048 1px;
}

form input:focus, textarea:focus{
    background-color: rgba(0, 0, 0, 0.03);
    outline: none;
}

form #success { 
    color: green;
    animation: submited 4s linear;
    display: none;
}

form #error { 
    color: red;
    animation: submited 4s linear;
    display: none;
}

@keyframes submited {
    0% {
        transform: scale(0.1);
    }
    10% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}


textarea {
    resize: vertical;
    min-height: 15vh;
    max-height: 45vh;
}

.contact-links {
    display: flex;
    flex-direction: row;
}

#phone {
    margin-right: 2rem;
}




hr {
    margin-top: 20vh;
    width: 80%;
    display: flex;
    align-items: center; 
}


.container-footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


footer {
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
}


.footer-links a {
    color: black;
    padding-left: 3rem;
    text-decoration: none;
    transition: 400ms;
}

.footer-links a:hover {
    color: gray;
}

@media (max-width: 600px) {

    .container-nav {
        display: block;
    }

    .toggle-button {
        display: flex;
    }

    .toggle-button.active {
        display: flex;
        transform: rotate(180deg);
    }

    .navbar-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        padding: 0.4rem 2rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-title {
    padding-left: 3rem;
    }


}
