* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: #fff;
    z-index: 1;
}

.container-nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-section {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.hero{
    margin: 1rem;
    width: 80%;
}

.hero h1{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.hero h2{
    margin: 1rem 0rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.hero p{
    margin: 3rem 0rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 60%;
}



.projects {
    margin: 1rem;
    width: 80%;
}


.brand-title {
    padding: 1rem;
    padding-left: 0;
    font-size: 1.5rem;
}

.brand-title a {
    text-decoration: none;
    color: black;
}

.brand-title a:hover {
    color: gray;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li a:hover{
    color: gray;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    width: 100%;
    height: 1px;
    background-color: black;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        padding: 0.4rem 0.8rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-title {
    padding-left: 3rem;
    }


}

.blur1 {
    scale: 2;
    z-index: -1;
    filter:  brightness(200%) contrast(0.6) opacity(50%);
}

